<div>
  <h1>CSS on demand dosn't hurt anymore!</h1>
  <br>
  <button type="button" class="btn" id="load-css">Load css</button>
  <hr>
  <blockquote>
    <p class="lead css-on-demand">
      This paragraph is stylized by a stylesheet that wasn't embeded in the initial load! Nice!
    </p>
  </blockquote>
</div>
