<div>
  <h1>You can load anything</h1>
  <p>
    With the file-loader you can load basically anything you need, and you can set a size limit from which the file will be converted to a data-url.
  </p>
  <button type="button" class="btn" id="load-json">Load images</button>
  <hr>
  <div class="columns">
    <div class="one-half column">
      <h3>Image as data url (if smaller than 10k)</h3>
      <div id="img-dataurl">

      </div>
    </div>
    <div class="one-half column">
      <h3>Image as file</h3>
      <div id="img-file">

      </div>
    </div>
  </div>
</div>
