<div>

  <h1>Try it with multiple dependencies</h1>

  <br>

  <p>
    Click the button bellow to load 3 dependencies to perform a task.<br>
  </p>

  <button type="button" id="load-dependencies" class="btn">Load dependencies</button>

  <div id="dependencies-content">

  </div>

</div>
