<div class="columns">

  <div class="one-half column">
    <div class="text-center">
      <button class="btn load-style" data-pre="sass" type="button">Load styles from SASS</button>
      <div class="sass pre-box">
        <p>
          This should be stylezed by SASS.
        </p>
      </div>
    </div>
  </div>

  <div class="one-half column">
    <div class="text-center">
      <button class="btn load-style" data-pre="less" type="button">Load styles from LESS</button>
      <div class="less pre-box">
        <p>
          This should be stylezed by LESS.
        </p>
      </div>
    </div>
  </div>

</div>
