<div>
  <h1>Of course you can load static JSON</h1>
  <p>
    You can do even better: webpack bundles up multiple json files into one convinient request. Give it a try:
  </p>
  <button type="button" class="btn" id="load-json">Load data from multiple JSON files</button>
  <hr>
  <div class="columns">
    <div class="one-half column">
      <h3>static-json-1.json</h3>
      <pre>
        <code class="JSON" id="json-data-1"></code>
      </pre>
    </div>
    <div class="one-half column">
      <h3>static-json-2.json</h3>
      <pre>
        <code class="JSON" id="json-data-2"></code>
      </pre>
    </div>
  </div>
</div>
